div.register__form
    p.register__text Email
    input(type="email", name="", placeholder="Email").landing__input
    p.register__text Password
    input(type="password", name="", placeholder="Password").landing__input
    p.register__text Title
    input(type="text", name="", placeholder="Title").landing__input
    p.register__text URL
    input(type="text", name="", placeholder="URL").landing__input
    p.register__text State
    select
      option(value='Done') Done
      option(value='Pending') Pending
    p.register__text Deadline
    input(type="text", name="", placeholder="Deadline").landing__input
    button.landing__button Sign Up 




