.job{
	width: 100%;
	height: 100%;
	&__image{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__information{
		font-size: 15px;
		color: white;	
		font-weight: bolder;
		@include medium {
			font-size: 20px;
		}
		@include large {
			font-size: 20px;
		}
		&-container{
			position: absolute;
			bottom: 0;
			background-color: $navBarColor;
			opacity: .5;
			width: 100%;
			border-radius: 10px 10px 0 0;
			justify-content: center;
			display: flex;
			flex-direction: column;
			&--disable {
				display: none;
			}
		}
		&-button{
			color: white;
    	background-color: #143a52;
		}
	}
	&__form{
    width: 100%;
    height: 500px;
    position: absolute;
    display: none;
		justify-content: center;
		&--active{
			display: flex;
		}
		&-container{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: rgba(20, 58, 82, 0.53);
			width: 400px;
			border-color: #143a52;
		}
		&-update{
			width: 100%;
			height: 500px;
			position: absolute;
			display: none;
			justify-content: center;
			&--active{
				display: flex;
			}
			&-container{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background-color: rgba(20, 58, 82, 0.53);
				width: 400px;
				border-color: #143a52;
			}
		}
	}
	&__button{
		background-color: #143a52;
    color: white;
	}
}
