<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
	<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
</head>
<body>
	<nav class="nav-bar"></nav>
	<div class="grid"></div>
	<div class="job__form">
		<div class="job__form-container">	
				<p class="job__form__text">Title</p>
				<input type="text" placeholder="Tittle" class="job__form__input" />		
				<p class="job__form__text">URL</p>
				<input type="text" placeholder="URL" class="job__form__input" />		
				<p class="job__form__text">Deadline</p>
				<input type="text" placeholder="Deadline" class="job__form__input" />		
				<button class="job__form__button">Add Job</button>
		</div>
	</div>
	<div class="job__form-update">
		<div class="job__form-update-container">	
			<p class="job__form__text">Title</p>
			<input type="text" placeholder="Tittle" class="job__form__update-input" />		
			<p class="job__form__text">URL</p>
			<input type="text" placeholder="URL" class="job__form__update-input" />		
			<p class="job__form__text">Deadline</p>
			<input type="text" placeholder="Deadline" class="job__form__update-input" />		
			<button class="job__form__update-button">Update Job</button>
		</div>
	</div>
</body>
</html>
