span.nav-bar__menu 
    button.nav-bar__menu__button
        div.nav-bar__menu__button-first
        div.nav-bar__menu__button-middle      
        div.nav-bar__menu__button-last
ul.nav-bar__list
 li.nav-bar__list__element
   button.nav-bar__list__element-button.nav-bar__list__element-button--selected(data-category="All") All



