div.login__form
    p.login__form__text Email
    input(type="email", name="", placeholder="Email").login__form__input 
    p.login__form__text Password
    input(type="password", name="", placeholder="Password").login__form__input 
    button.login__form__button Login 
