div.login__form
    p.landing__text Email
    input(type="email", name="", placeholder="Email").landing__input
    p.landing__text Password
    input(type="password", name="", placeholder="Password").landing__input
    button.login__button Login 
